extends layout

block content

  md-card
    md-card-title
      md-card-title-text
        h1= 'Routes between ' + start + ' and ' + stop
        
    md-card-actions
      a(href='/')
        md-button Back

    md-content
      each row in stops
        div.row= row.name
