extends layout

block content
  div(layout='column')
    form(action='/filter', method='POST', flex)
      md-card
        md-card-title
          md-card-title-text
            span(class="md-headline") Filter options
        md-card-content
          div(layout-gt-sm="row")
            md-input-container(class="md-block", flex-gt-xs)
              label Name 
              input(name='name')
            md-input-container(class="md-block", flex-gt-xs)
              label Lat 
              input(name='lat1')
            md-input-container(class="md-block", flex-gt-xs)
              label Lat 
              input(name='lat2')
            md-input-container(class="md-block", flex-gt-xs)
              label Lon 
              input(name='lon1')
            md-input-container(class="md-block", flex-gt-xs)
              label Lon 
              input(name='lon2')
        md-card-actions
          md-button(type='submit') Filter

    form(id='stops', action='/route/check', method='POST', flex)
      div(layout='column')
        div(layout='row', flex)
          div(flex)
            md-card
              md-card-title
                md-card-title-text
                  span(class="md-headline") Connection check
                  span(class="md-subheader") Checks for a connection between 2 stops
              md-card-actions
                md-button(type='submit', onclick='check()') Check
            
          div(flex)
            md-card
              md-card-title
                md-card-title-text
                  span(class="md-headline") Create new line
                  span(class="md-subheader") Creates a new line with at least 2 selected stops
              md-card-content
                md-input-container(class="md-block", flex-gt-xs)
                  label Line name (e.g.: Bus 392, Tram 7): 
                  input(name='name')
              md-card-actions
                md-button(type='submit', onclick='newRoute()') Create
            
          div(flex)
            md-card
              md-card-title
                md-card-title-text
                  span(class="md-headline") Search for nearby restaurants
                  span(class="md-subheader") Searches for restaurants with a given distance in meters
              md-card-content
                md-input-container(class="md-block", flex-gt-xs)
                  label Distance in meter:
                  input(name='distance', value="100")
              md-card-actions
                md-button(type='submit', onclick='nearby()') Search
              
        div(class='stopsList')
          if stops.length > 0
            each row, i in stops
              div.row
                input(id='r' + i, type='checkbox', name='stops', value='{ "name": "'+row.name+'", "id": ' + row.id + ', "lon": "' + row.lon + '", "lat": "' + row.lat + '" }')
                label(for='r' + i)= ' ' + row.name
          else 
            div.row
              span= 'No stops found'
