doctype html
html(lang='en', ng-app="stopsBrowser")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/components/angular-material/angular-material.css')
    block js
      script(src='/components/angular/angular.min.js')
      script(src='/components/angular-animate/angular-animate.min.js')
      script(src='/components/angular-aria/angular-aria.min.js')
      script(src='/components/angular-messages/angular-messages.min.js')
      script(src='/components/angular-material/angular-material.min.js')
      script(src='/js/app.js')
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    
    md-toolbar
      div(class="md-toolbar-tools")
        h2
          span Stops Browser
    
    md-content(layout-margin)
      block content
