body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
div.row {
  padding: 15px;
  border-bottom: 1px solid #ecf0f1;
}
div.row:last-child {
  border-bottom: 0px;
}
