	<md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
				<md-button ng-click="changeView('/')">Back</md-button>
                <h2>
                    <span>Edit</span>
                </h2>
            </div>
        </md-toolbar>
        
        <md-card>
            <md-card-title>
                <h2>Edit stop <span ng-bind="stop.name"></span></h2>
            </md-card-title>
            <md-card-content>
                <div layout layout-sm="column">
                    <md-input-container flex>
                      <label>Name</label>
                      <input ng-model="stop.name">
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                      <label>Lat</label>
                      <input ng-model="stop.lat">
                    </md-input-container>
                    <md-input-container flex>
                      <label>Lon</label>
                      <input ng-model="stop.lon">
                    </md-input-container>
                </div>
            </md-card-content>
            <md-card-actions>
                <md-button ng-click="save()">Save</md-button>
            </md-card-actions>
        </md-card>
    </md-content>