	<md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
				<md-button ng-click="changeView('/')">Back</md-button>
                <h2>
                    <span>New route</span>
                </h2>
            </div>
        </md-toolbar>
        
        
        
        <md-card>
            <md-card-title>
                <h2>Create new route: <span ng-bind="routeName"></span></h2>
            </md-card-title>
            <md-card-content>
                <div layout layout-sm="column">
                    <md-input-container flex>
                      <label>Name</label>
                      <input ng-model="routeName">
                    </md-input-container>
                </div>
        
		
                <div class="stops">
                    <h3 class="col-header">Stops</h3>
                    <div class="centered" ng-show="stops.length == 0">No stops selected</div>
                    <md-list class="newRouteList">
                        <md-list-item ng-repeat="stop in stops | unique: 'name'">
                            <p>
                                <md-button ng-disabled="$first" ng-click="up($index, stop)">up</md-button>
                                <md-button ng-disabled="$last" ng-click="down($index, stop)">down</md-button>
                                {{ stop.name }}
                            </p>
                            <md-checkbox class="md-secondary" ng-model="stop.selected" ng-change="select(stop)"></md-checkbox>    
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </div>
            </md-card-content>
            <md-card-actions>
                <md-button ng-click="create()" ng-disabled="stops.length < 2">Create line</md-button>
            </md-card-actions>
        </md-card>
    </md-content>