	<md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
				<md-button ng-click="changeView('/')">Back</md-button>
                <h2>
                    <span>Restaurants</span>
                </h2>
            </div>
        </md-toolbar>
        
        <h3 class="col-header" style="margin: 15px;">Restaurants nearby {{stops[0].name}}</h3>
        <md-list>
            <md-list-item ng-repeat="restaurant in restaurants | orderBy: 'name'">
                <p> {{ restaurant.name }}</p>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
        <div class="centered" style="margin: 15px;" ng-show="restaurants.length == 0">No restaurants found nearby selected stop</div>
    </md-content>