	<md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
				<md-button ng-click="changeView('/')">Back</md-button>
                <h2>
                    <span>Routes</span>
                </h2>
            </div>
        </md-toolbar>
        
        <h3 class="col-header" style="margin: 15px;">Routes between {{stops[0].name}} and {{stops[1].name}}</h3>
        <md-list>
            <md-list-item ng-repeat="route in routes | orderBy: 'name'" class="secondary-button-padding">
                <p>{{ route.name }}</p>
                <md-button class="md-secondary" ng-click="edit(route)">Edit</md-button>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
        <div class="centered" style="margin: 15px;" ng-show="routes.length == 0">No routes found for selected stops</div>
        
    </md-content>