	<md-content id="popupContainer">
        <md-toolbar class="toolbar">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Browse stops</span>
                </h2>
            </div>
        </md-toolbar>
        
        <div layout="row">
            <div flex class="stops">
                <md-card>
                    <md-card-title>
                        <h2 class="col-header">(<span ng-bind="(unique ? (stops | unique: 'name'):stops).length"></span>)
                            <span ng-show="unique">Unique stops</span><span ng-hide="unique">Stops</span></h2>
                    </md-card-title>
                    <md-card-content>
                        <div layout layout-sm="column">
                            <md-autocomplete flex
                                  md-search-text="stop.name"
                                  md-items="item in stops | unique: 'name' | filter: stop"
                                  md-search-text-change="filter()"
                                  md-selected-item-change="filter()"
                                  md-item-text="item.name"
                                  md-min-length="0"
                                  md-floating-label="Name">
                                <md-item-template>
                                  <span md-highlight-text="stop.name" md-highlight-flags="^i">{{item.name}}</span>
                                </md-item-template>
                                <md-not-found>
                                  No stop matching "{{stop.name}}" were found.
                                </md-not-found>
                              </md-autocomplete>
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container flex>
                              <label>Lat</label>
                              <input ng-model="latLimit1" ng-change="filter()">
                            </md-input-container>
                            <md-input-container flex>
                              <label>Lon</label>
                              <input ng-model="lonLimit1" ng-change="filter()">
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container flex>
                              <label>Lat</label>
                              <input ng-model="latLimit2" ng-change="filter()">
                            </md-input-container>
                            <md-input-container flex>
                              <label>Lon</label>
                              <input ng-model="lonLimit2" ng-change="filter()">
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <md-checkbox ng-model="unique">Unique?</md-checkbox>
                            </md-input-container>
                        </div>
                        
                    </md-card-content>
                </md-card>
                
                <md-list class="stopsList">
                    <div class="centered" ng-show="stops.length == 0">No stops found.</div>
                    <md-list-item ng-repeat="stop in (unique ? (stops | unique: 'name'):stops) | orderBy: 'name' | limitTo: totalElements">
                        <p> {{ stop.name }} <span ng-hide="unique">(Lon: {{stop.lon}} - Lat: {{stop.lat}})</span> </p>
                        <md-checkbox class="md-secondary" ng-model="stop.selected" ng-change="select(stop)"></md-checkbox>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                    <md-button ng-click="loadMore()" ng-show="canLoadMore">Show me more stops!</md-button>
                </md-list>
            </div>
            <div flex class="stops">
                <md-card>
                    <md-card-title>
                        <h2>(<span ng-bind="selected.length"></span>) Selected stops</h2>
                    </md-card-title>
                    <md-card-content>
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Distance</label>
                                <input ng-model="distance" ng-disabled="selected.length != 1">
                            </md-input-container>
                        </div>
                    </md-card-content>
                    <md-card-actions>
                    
                        <md-button ng-disabled="selected.length != 1" ng-click="nearby()">Nearby restaurants</md-button>
                        <md-button ng-disabled="selected.length != 1" ng-click="edit()">Edit</md-button>
                    
                        <md-button ng-disabled="selected.length != 2" ng-click="connected()">Check connection</md-button>
                        <md-button ng-disabled="selected.length < 2" ng-click="newRoute()">New route</md-button>

                    </md-card-actions>
                </md-card>
                <md-list class="selectedList">
                    <md-list-item ng-repeat="stop in selected">
                        <p> {{ stop.name }} (Lon: {{stop.lon}} - Lat: {{stop.lat}})</p>
                        <md-checkbox class="md-secondary" ng-model="stop.selected" ng-change="select(stop)"></md-checkbox>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </md-content>